
video {
    width: 320px;
    height: 240px;
    background: #555;
}

footer {
    background: #222;
    color: #ccc;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.videocontainer {
	overflow-x: hidden;
	width: 790px;
	height: 250px;
}

.videos {
	height: 100%;
}

.videos > div {
	display: inline-block;
	width: 370px;
}

.error {
    color: #ff9696;
}
